.App {
  text-align: center;
}

.kills {
  font: 800 70px system-ui;
  content: counter(count);
  animation: counter 5s linear infinite alternate;
  counter-reset: count 0;
  color: crimson;
}

.currency {
  font: 800 30px system-ui;
  content: counter(count);
  animation: counter 5s linear infinite alternate;
  counter-reset: count 0;
  color: goldenrod;
  text-align: right;
  padding-right: 40px;
}

@keyframes counter {
  0% {
    counter-increment: count 0;
  }
  10% {
    counter-increment: count 1;
  }
  20% {
    counter-increment: count 2;
  }
  30% {
    counter-increment: count 3;
  }
  40% {
    counter-increment: count 4;
  }
  50% {
    counter-increment: count 5;
  }
  60% {
    counter-increment: count 6;
  }
  70% {
    counter-increment: count 7;
  }
  80% {
    counter-increment: count 8;
  }
  90% {
    counter-increment: count 9;
  }
  100% {
    counter-increment: count 10;
  }
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #d80e0e;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 20px;
}

.button:hover {
  background-color: #a50000;
}

.button:active {
  background-color: #c20000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button2 {
  display: inline-block;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;

  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #0028da;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px goldenrod;
  margin: 30px;
}

.button2:hover {
  background-color: #01337e;
}

.button2:active {
  background-color: #021d77;
  box-shadow: 0 5px goldenrod;
  transform: translateY(4px);
}

.button3 {
  display: inline-block;
  padding: 15px 25px;
  font-size: 40px;
  cursor: pointer;

  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #d300da;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px goldenrod;
  margin: 30px;
}

.button3:hover {
  background-color: #7e0178;
}

.button3:active {
  background-color: #ae00b4;
  box-shadow: 0 5px goldenrod;
  transform: translateY(4px);
}

.info {
  font-size: 40px;
  color: #fff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}
